.vscode/settings.json
method_names.txt
perform_analysis_log.log
settings.pyc
Untitled.ipynb
.vscode/settings.json
.ipynb_checkpoints/Analyzing_repos-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
