.vscode/settings.json
method_names.txt
perform_analysis_log.log
settings.pyc
Untitled.ipynb
.vscode/settings.json
.ipynb_checkpoints/Analyzing_repos-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
analysing_repositories_antlr4.log
__pycache__/RepositoryData.cpython-37.pyc
__pycache__/PatternListener.cpython-37.pyc
